<div class="headline">
  <div id="home-button"><a routerLink="/timer"><img style="height: 25px" src="./../../assets/timer-white.png"/></a></div>|

  <div id="headline-title"><a>Tabata Timer</a></div>
</div>
<div class="controller"><a id="controller-simple">Simple</a>|<a id="controller-expanded">Expanded</a></div>
<router-outlet></router-outlet>
<div style="text-align: center;font-family: Montesarrat;">
  <div id="content">
    <div id="exercise-content">
      <div id="tabata-name">Tabata 1</div>
      <div id="current-status">
        <div id="current-move-section">
          <div class="move-title">Current Segment</div>
          <div id="current-move">-</div>
        </div>
        <div id="next-move-section">
          <div class="move-title">Next Segment</div>
          <div id="next-move">-</div>
        </div>
      </div>
      <div id="set-display">
        <div id="sets-column">
          <div id="sets-text">
            <div id="sets-text-number">3</div><div id="sets-text-word">Sets</div>
          </div>
        </div>
        <div id="segments">
        </div>
      </div>
    </div>
    <div id="timer-content">
      <div id="status">
        <div id="timer">0:00</div>
        <div id="time-start-pause">
          <div id="start-pause">Start</div>
          <div id="reset">Reset Timer</div> 
        </div>
        <div id="simple-time-start-pause">
          <div id="simple-start-pause">Start</div>
        </div>
        <div id="simple-move-blocks">
          <div id="simple-timer-current-move-section">
            <div class="simple-move-title">Current Move</div>
            <div id="simple-current-move">-</div>
          </div>
          <div id="simple-timer-next-move-section">
            <div class="simple-move-title">Next Move</div>
            <div id="simple-next-move">-</div>
          </div>
        </div>
      </div>
      <div id="exercise-controls">
        <div id="exercise-controls-time">
          <div id="exercise-length" style="text-align: center;">
            <div class="exercise-control-title">Exercise Length:</div>
            <div style="display: inline-flex;">
              <div id="exercise-length-minus" class="toggle">-</div>
              <input type="number" id="exercise-length-minutes" value="00" name="exercise-length-minutes" min="0" max="59"/>
              <span style="font-size:20px;">:</span>
              <input type="number" id="exercise-length-seconds" value="20" name="exercise-length-seconds" min="0" max="59"/>
              <div id="exercise-length-plus" class="toggle">+</div>
            </div>
          </div>
          <div id="rest-length" style="text-align: center;">
            <div class="exercise-control-title">Rest Length:</div>
            <div style="display: inline-flex;">
              <div id="rest-length-minus" class="toggle">-</div>
              <input type="number" id="rest-length-minutes" value="00" name="rest-length-minutes" min="0" max="59"/>
              <span style="font-size:20px;">:</span>
              <input type="number" id="rest-length-seconds" value="10" name="rest-length-seconds" min="0" max="59"/>
              <div id="rest-length-plus" class="toggle">+</div>
            </div>
          </div>
          <div id="prep-length" style="text-align: center;">
            <div class="exercise-control-title">Prep Length:</div>
            <div style="display: inline-flex;">
              <div id="prep-length-minus" class="toggle">-</div>
              <input type="number" id="prep-length-minutes" value="00" name="prep-length-minutes" min="0" max="59"/>
              <span style="font-size:20px;">:</span>
              <input type="number" id="prep-length-seconds" value="10" name="prep-length-seconds" min="0" max="59"/>
              <div id="prep-length-plus" class="toggle">+</div>
            </div>
          </div>
        </div>
        <div id="exercise-controls-counts">
          <div style="text-align: center;">
            <div class="exercise-control-title">Exercises:</div>
            <div style="display: inline-flex;">
              <div id="exercise-count-minus" class="toggle">-</div>
              <input type="number" id="exercise-count" value="4" name="exercises" min="1" max="99">
              <div id="exercise-count-plus" class="toggle">+</div>
            </div>
          </div>
          <div style="text-align: center;">
            <div class="exercise-control-title">Sets:</div>
            <div style="display: inline-flex;">
              <div id="exercise-sets-minus" class="toggle">-</div>
              <input type="number" id="exercise-sets" value="3" name="sets" min="1">
              <div id="exercise-sets-plus" class="toggle">+</div>
            </div>
          </div>
          <div id="show-rests-button">Display Rests</div>
          <div id="simple-reset">Reset Timer</div>
        </div>
      </div>
      <div id="presets">
      </div>
    </div>
  </div>

  <audio id="beep">
    <source src="./../../assets/beep-9.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  <audio id="beep2">
    <source src="./../../assets/beep-7.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  <audio id="getready">
    <source src="./../../assets/getready.mp3" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  <audio id="work">
    <source src="./../../assets/work.mp3" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  <audio id="rest">
    <source src="./../../assets/rest.mp3" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  <audio id="alldone">
    <source src="./../../assets/alldone.mp3" type="audio/wav">
    Your browser does not support the audio element.
  </audio>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/notes.js"></script>
  <script src="js/reverse.js"></script>
</div>